.option {
    width: 20%;
    text-align: center;
    background-color: white;
    border: none;
    margin: 20px auto;
    display: block;
}

.option:hover {
    border: 5px solid blue;
    background-color: aqua;
}

body {
    background-image: url(../images/bodyBack.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

div {
    margin-top: 150px;
    background-color: #c3d6d0;
    width: 75%;
    height: 500px;
}
#start {
    margin-top: 100px;
}
img {
    height: 250px;
}